html {
  background-image: linear-gradient(to right, rgb(218, 241, 236), rgb(245, 242, 242));
}

.row {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 163, 41);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(204, 201, 201, 0.2), 0 3px 10px 0;
}

h1 {
  text-align: center;
  position: relative;
  margin: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif !important;
}

.h1button {
  color: #404040;
}

.h1button:hover {
  color: #404040;
  background-color: rgb(245, 163, 41) !important;
}

.listbuttons {
  width: 100px !important;
}

.inlinebutton {
  width: 80px !important;
  padding-left: 10px;
}

.lists {
  box-shadow: 0 1px 4px 0 rgba(204, 201, 201, 0.2), 0 1px 4px 0;
  border-radius: 2px;
}

.btn-secondary {
  background-color: rgb(245, 163, 41);
  border-color: rgb(245, 163, 41);
}

.btn-secondary:hover {
  background-color: rgb(228, 152, 38);
  border-color: rgb(228, 152, 38);
}

.btn-primary {
  background-color: rgb(64, 64, 64);
  border-color: rgb(137, 137, 137);
}

.btn-primary:hover {
  background-color: rgb(137, 137, 137);
  border-color: rgb(137, 137, 137);
}

.todobuttons:hover {
  background-color: rgb(245, 163, 41) !important;
  border-color: rgb(245, 163, 41) !important;
}

.form-inline {
  margin-bottom: 20px;
}

input[id='name'] {
  margin-left: 30px;
  width: 180px;
  border-radius: 2px;
}

input[id='task'] {
  margin-left: 80px;
  width: 400px;
  border-radius: 2px;
}